<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增成績</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>

<form style="width:400px ; margin: 100px auto" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">姓名</label>
    <input type="text"
           class="form-control"
           id="exampleInputEmail1"
           aria-describedby="emailHelp"
           name="username">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">國文</label>
    <input type="text"
           class="form-control"
           id="exampleInputPassword1"
            name="chines">
  </div>
  <div class="mb-3">
  <label for="exampleInputPassword1" class="form-label">數學</label>
  <input type="text"
         class="form-control"
         id="exampleInputPassword1"
          name="math">
  </div>
  <div class="mb-3">
  <label for="exampleInputPassword1" class="form-label">英文</label>
  <input type="text"
         class="form-control"
         id="exampleInputPassword1"
          name="english">
  </div>

</div>
  <button type="submit" class="btn btn-primary">確認</button>
</form>
</body>
</html>