<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>蔬果辨識系統</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<style>
  h1 {
    margin-top: 50px;
  }

</style>

<body>
    <div style="text-align: center;">
    <h1>蔬果辨識系統</h1>
    </div>
    <button type="button" style="display: block; margin: 0 auto; margin-bottom: 10px;" class="btn btn-primary" onclick="navigateToSearch()">搜尋</button>
    <button type="button" style="display: block; margin: 0 auto;margin-bottom: 10px" class="btn btn-primary" onclick="navigateToIdentify()">進入辨識</button>
    <button type="button" style="display: block; margin: 0 auto;" class="btn btn-primary" onclick="navigateToIdentify2()">時時辨識</button>
</body>
<script>
    // 其他 JavaScript 代碼...

    function navigateToIdentify() {
        window.location.href = "/identify";
    }

    function navigateToSearch() {
        window.location.href = "/search";
    }
    function navigateToIdentify2() {
    window.location.href = "/canmera";
}
</script>

</html>